<section class="flex flex-row overflow-hidden backdrop-blur-sm">
  <div
    class="peer/button flex-1 flex flex-row items-center content-center w-full gap-2 py-2 px-1 border border-solid border-white rounded-lg bg-white/25 transition-all duration-500"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="search icon"
      fontIcon="search"
      class="text-black/70"
    ></mat-icon>
    <input
      class="w-full font-medium caret-white"
      #inputField
      type="text"
      [value]="inputValue"
      (input)="handleInput($event)"
      (place_changed)="handlePlaceChanged()"
    />
  </div>

  <button
    class="bg-transparent w-0 opacity-0 peer-hover/button:w-16 peer-hover/button:opacity-100 font-medium text-black/70 active:text-black/40 transition-all duration-400"
  >
    Cancel
  </button>
</section>
