<section class="flex flex-col justify-center text-start w-full h-full gap-8">
  <div class="flex flex-col">
    <h1 class="text-3xl font-bold text-black/70">Weather</h1>
    <app-address-input
      [placeholderText]="'Search for a city or airport'"
      (locationChanged)="onPlaceChanged($event)"
    ></app-address-input>
  </div>
  <div class="grid xs:grid-cols-2 place-items-center gap-4">
    @for (location of this.savedLocations; track $index) {
    <app-weather-card
      class="w-full h-fit"
      [location]="location"
    ></app-weather-card>
    }
  </div>
</section>
