<section class="flex flex-row content-center justify-between w-full h-full">
  <div class="flex flex-col w-fit h-fit">
    <p class="font-semibold text-xl text-black/70">
      {{ this.location.city }}, {{ this.location.country }}
    </p>

    <app-date></app-date>
  </div>
  @if (this.isLocationSaved) {
  <mat-icon
    aria-hidden="false"
    aria-label="view_cozy icon"
    fontIcon="view_cozy"
    (click)="redirectToLocations()"
  ></mat-icon
  >} @else {
  <button (click)="saveLocation()">Add</button>
  }
</section>
