<section
  class="flex flex-col items-center content-center justify-center w-full h-fit px-3 py-3 border border-solid border-white rounded-2xl bg-white/25 transition-all duration-400"
  (click)="redirectToWeatherDetails()"
>
  <div class="flex flex-row items-center justify-between w-full h-full">
    <div class="flex flex-col">
      <p class="font-medium text-xl text-black/70">{{ this.location.city }}</p>
      <p class="font-medium text-sm text-black/70">
        {{ this.location.country }}
      </p>
    </div>
    <p class="font-medium text-2xl text-black/70">18°</p>
  </div>
  <img src="../../../assets/images/icons/02n.svg" alt="" class="size-28" />
</section>
